@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400&family=Charis+SIL:ital@1&family=Kaushan+Script&display=swap');
/* Navbar styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: 'center';
    color: '#fff';
    height: 64;
    padding-inline: 50;
    line-height: '64px';
    background-color: '#7dbcea';
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-logo img {
    height: 50px;
    width: 50px;
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
  }
  
  .navbar-avatar img {
    vertical-align: middle;
    margin: 10px 15px 15px 10px;
    width: 50px;
        height: 50px;
        border-radius: 50%;
    border-radius: 50%;
  }

  .navbar-title{
    font-family: "Kaushan Script", cursive;
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 700;

 
  }
  
  /* Main section styles */
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }
  
  .description h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    padding: 10px;
    font-family: "Kaushan Script", cursive;
  }
  
  .description p {
    font-size: 1.5rem;
    padding: 10px 10px 10px 10px;
    font-family: "Charis SIL", serif;
  }
  
/*  Search Bar */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search {
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 200px;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 0 20px 20px 0;
    color: white;
  }
  
  .button:hover {
    background-color: #333;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .search-container {
      flex-direction: column;
    }
  
    .search {
      border-radius: 20px;
      margin-bottom: 10px;
    }
  
    .button {
      border-radius: 20px;
    }
  }
  