@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400&family=Charis+SIL:ital@1&family=Kaushan+Script&display=swap');
/* Navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: 'center';
    color: '#fff';
    height: 64;
    padding-inline: 50;
    line-height: '64px';
    background-color: '#7dbcea';
  }
  
  .navbar-logo img {
    height: 50px;
    width: 50px;
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
  }
  
  .navbar-avatar img {
    vertical-align: middle;
    width: 50px;
        height: 50px;
        border-radius: 50%;
    border-radius: 50%;
  }

  .navbar-title{
    font-family: "Kaushan Script", cursive;
    padding-top: 0%;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  /* Main section styles */
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }
  
  .description h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-family: "Kaushan Script", cursive;
  }
  
  .description p {
    font-size: 3rem;
    font-family: "Charis SIL", serif;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 200px;
    transition: width 0.3s;
  }
  
  .search-bar.expanded {
    width: 300px;
  }
  
  .search-bar input[type="text"] {
    flex-grow: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .search-bar button {
    padding: 0.5rem;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .search-bar input[type="text"] {
      width: 100%;
    }
  }
  
  